body {
	color: #fff;
	font-family: Raleway;
	background-image: url("#{resource['images/background.jpg']}");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url("#{resource['fonts/Raleway-Regular.ttf']}") format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: url("#{resource['fonts/Raleway-Bold.ttf']}") format('truetype');
}

h1 {
	font-size: 44px;
	font-weight: bold;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	margin-top: 150px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
	padding-left: -10px;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.modal-body {
	text-align: center;
	font-size: 20px
}

.profile-img-card {
	width: 99px;
	height: 99px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}

.fa-7x{
	font-size: 7em;
}