body, html {
	height: 100%;
}

body {
	background-image: url("#{resource['images/background.jpg']}");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar-brand h2 {
	margin-top: -5px;
	margin-left: 5px;
	font-weight: bold;
	color: #fff;
}

label {
	font-weight: normal;
}

.modal-draggable .modal-backdrop {
	position: fixed;
}

.modal.modal-draggable {
	overflow: overflow-y;
}

.modal-draggable .modal-header:hover {
	cursor: move;
}

form>.modal-body>ul {
	padding-left: 15px;
}

form>ul {
	padding-left: 15px;
}

.table>thead>tr>th {
	min-width: 45px;
	font-weight: normal;
}

.table th, .table td {
	white-space: nowrap;
}

.qtd-item {
	margin-top: 40px;
	font-size: 120px;
	text-align: center;
}

.progress-bar-2 {
	margin-bottom: 0;
}

.brand {
	font-size: 60px;
	font-weight: 600;              
	padding-left: 25px;
}

.btn .caret {
	margin-left: 10px;
}

#sidebar ul li a i {
	margin-right: 10px;
}

#sidebarCollapse i {
	margin-right: 10px;
}

.panel-inspecao {
	height: 100%;
	bottom: 15px;
}

.dataTable thead th {
	color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.table-responsive > .container-fluid{
		padding-left: 0;
		padding-right: 0;
}
.modal-content > form {
	margin-bottom: 0;
}

.alert > ul {
	margin-bottom: 0px;
	padding-left: 25px;
}

.table-separation {
	border: 1px;
	font-size: 11px;
	border-style: dashed;
	white-space: nowrap;
	padding: 5px;
}

.table-separation > tbody > tr > td,
.table-separation > tbody > tr > th,
.table-separation > tfoot > tr > td, 
.table-separation > tfoot > tr > th,
.table-separation > thead > tr > th,
.table-separation > thead > tr > td {
	border: 1px;
	border-style: dashed;
	white-space: nowrap;
	font-weight: normal;
	padding: 5px;
	
}

@page {
    size: auto;
}
