<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<div id="content">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">

			<button type="button" id="sidebarCollapse" class="navbar-brand">
				<span></span> <span></span> <span></span>
			</button>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarMenu" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbarMenu">
				<ul class="navbar-nav mr-auto"></ul>
				<ul class="navbar-nav">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <i class="fa fa-user-circle-o fa-fw"></i>
							Usuário
					</a>
						<div class="dropdown-menu dropdown-menu-right"
							aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Redefinir senha</a>
						</div></li>
				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</nav>
		<ui:insert name="content" />
	</div>
</ui:composition>

