<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<title>Sistema de Requisição de Material</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}" />
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	    
		<h:outputScript target="body" name="js/jquery-3.3.1.min.js" />
		<h:outputScript target="body" name="js/jquery-ui.min.js" />
		<h:outputScript target="body" name="js/bootstrap.bundle.min.js" />
		<h:outputScript target="body" name="js/loadingoverlay.min.js" />
		<h:outputScript target="body" name="js/jquery.dataTables.min.js" />
		<h:outputScript target="body" name="js/dataTables.bootstrap4.min.js" />
		<h:outputScript target="body" name="js/dataTables.buttons.min.js" />
		
		<h:outputScript target="body" name="js/buttons.bootstrap4.min.js" />
		<h:outputScript target="body" name="js/buttons.html5.min.js" />
		<h:outputScript target="body" name="js/dataTables.responsive.min.js" />
		<h:outputScript target="body" name="js/responsive.bootstrap.min.js" />
		<h:outputScript target="body" name="js/bootstrap-switch.min.js" />
		<h:outputScript target="body" name="js/jQuery.print.min.js" />
		<h:outputScript target="body" name="js/app.js" />

		<h:outputStylesheet name="css/bootstrap.min.css" />
		<h:outputStylesheet name="css/dataTables.bootstrap4.min.css" />
		
		<h:outputStylesheet name="css/buttons.bootstrap4.min.css" />
		<h:outputStylesheet name="css/buttons.dataTables.min.css" />
		<h:outputStylesheet name="css/responsive.bootstrap.min.css" />
		<h:outputStylesheet name="css/bootstrap-switch.min.css" />
		<h:outputStylesheet name="css/font-awesome.css" />
		<h:outputStylesheet name="css/glyphicons.css" />
		<h:outputStylesheet name="css/style5.css" />
		<h:outputStylesheet name="css/style.css" />
		
	</f:facet>
	
</h:head>
<h:body>
	<div class="wrapper">
		<ui:include src="sidebar.xhtml" />
		<ui:include src="content.xhtml" />
	</div>
</h:body>
</html>