<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"	
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	<div class="wrapper">
	<nav id="sidebar">
	
		<div class="sidebar-header">
			<div class="brand">HOPE</div>
		</div>
		
		<ul class="list-unstyled components">
		
			<li>
				<a href="index.xhtml"><i class="fa fa-exchange"></i> Requisições</a>
				
				<a class="collapsed" aria-expanded="false" href="#relSubmenu" data-toggle="collapse" aria-controls="relSubmenu" >
				<i class="fa fa-files-o"></i> Relatórios</a>
				
				<ul class="collapsing list-unstyled" id="relSubmenu" aria-expanded="false">
					<li><a href="relatorios.xhtml">Relatório de Requisições</a></li>
				</ul>
			</li>
			<!-- <li>
			
				<a class="collapsed" aria-expanded="false" href="#configSubmenu" data-toggle="collapse">
					<i class="fa fa-hashtag"></i> Administração</a>
					
				<ul class="collapsing list-unstyled" id="configSubmenu"
					aria-expanded="false" style="height: 0px;">
					<li><a href="#">Usuários</a></li>
					<li><a href="#">Motivos</a></li>
				</ul>
			</li> -->
			<li>
				<a class="collapsed" aria-expanded="false" href="#userSubmenu" data-toggle="collapse">
					<i class="fa fa-user-circle-o"></i> Usuário</a>
				<ul class="list-unstyled collapse disabled" id="userSubmenu"
					aria-expanded="false" style="height: 0px;">
					<li><a href="#">Redefinir senha</a></li>
				</ul>
			</li>
		</ul>
		<ul class="list-unstyled CTAs">
			<li><a href="#" onclick="document.getElementById('logout').submit();" class="download">Logout</a>
				<form action="logout" id="logout" method="post">
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
				</form>
			</li>
        </ul>
	</nav>
	</div>
	
</ui:composition>