<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/templates/default/main.xhtml">

	<ui:define name="content">
		<div class="row">
			<div class="col-md-12">
				<div class="card" style="margin-top: 20px;">
					<div class="card-header ">
						<span class="fa fa-exchange" aria-hidden="true"></span>
					</div>
							
					<h:form id="form-lista-requisicao">
						<div class="card-body bg-light">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<h:dataTable value="#{indexBean.requisicaoList}" var="r"
											styleClass="table table-sm dataTable-requisicao table-condensed" style="width:100%">
											<h:column>
												<f:facet name="header">CÓDIGO</f:facet>
												<h:commandLink value="#{r.codigo}"
													action="#{indexBean.showDetalhesRequisicao(r)}"
													style="color:#337ab7" pt:data-toggle="modal"
													pt:data-target=".modal-atendimento" pt:data-backdrop="static"
													pt:data-keyboard="false">
													<f:ajax render="form-modal-atendimento" onevent="initDataTableItemsRequisicao" />
												</h:commandLink>
											</h:column>
											<h:column>
												<f:facet name="header">ORDEM</f:facet>
													#{r.op}
											</h:column>
											<h:column>
												<f:facet name="header">SOLICITANTE</f:facet>
													#{r.solicitante}
											</h:column>
											<h:column>
												<f:facet name="header">SETOR</f:facet>
													#{r.setor.descricao}
											</h:column>
											<h:column>
												<f:facet name="header">DATA</f:facet>
												<h:outputText value="#{r.data}">
													<f:convertDateTime pattern="EEE, d MMM yyyy HH:mm" />
												</h:outputText>
											</h:column>
											<h:column pt:style="text-align:center;padding-right:5px;padding-left:5px">
												<f:facet name="header">
													<i class="fa fa-cog" aria-hidden="true" />
												</f:facet>
												<h:panelGroup rendered="#{r.status.descricao == 'NOVA'}"
													styleClass="text-center">
													<i class="fa fa-circle-o text-success" aria-hidden="true" />
												</h:panelGroup>
												<h:panelGroup rendered="#{r.status.descricao == 'LIBERADA'}"
													styleClass="text-center">
													<i class="fa fa-circle text-warning" aria-hidden="true" />
												</h:panelGroup>
												<h:panelGroup
													rendered="#{r.status.descricao == 'EM ATENDIMENTO'}"
													styleClass="text-center">
													<i class="fa fa-circle text-primary" aria-hidden="true" />
												</h:panelGroup>
												<h:panelGroup
													rendered="#{r.status.descricao == 'AGUARDANDO NOTA FISCAL'}"
													styleClass="text-center">
													<i class="fa fa-circle text-secondary" aria-hidden="true" />
												</h:panelGroup>
												<h:panelGroup rendered="#{r.status.descricao == 'SEM SALDO'}"
													styleClass="text-center">
													<i class="fa fa-circle text-dark" aria-hidden="true" />
												</h:panelGroup>
												<h:panelGroup rendered="#{r.status.descricao == 'REPROVADA'}"
													styleClass="text-center">
													<i class="fa fa-circle text-danger" aria-hidden="true" />
												</h:panelGroup>
												<h:panelGroup rendered="#{r.status.descricao == 'FINALIZADA'}"
													styleClass="text-center">
													<i class="fa fa-circle text-success" aria-hidden="true" />
												</h:panelGroup>
											</h:column>
										</h:dataTable>
									</div>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-12">
									<div class="legendas">
										<label class="col-form-label">Legenda:</label><br /> <span><i
											class="fa fa-circle-o fa-fw text-success" aria-hidden="true" />
											Nova</span> <span><i class="fa fa-circle fa-fw text-warning"
											aria-hidden="true" /> Liberada</span> <span><i
											class="fa fa-circle fa-fw text-primary" aria-hidden="true" />
											Em atendimento</span> <span><i
											class="fa fa-circle fa-fw text-secondary" aria-hidden="true" />
											Aguardando nota fiscal</span> <span><i
											class="fa fa-circle fa-fw text-dark" aria-hidden="true" />
											Sem saldo</span> <span><i
											class="fa fa-circle fa-fw text-danger" aria-hidden="true" />
											Reprovada</span> <span><i
											class="fa fa-circle fa-fw text-success" aria-hidden="true" />
											Finalizada</span>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<h:commandLink
								styleClass="btn btn-success popover-hover btn-select"
								style="margin-right:5px" pt:data-toggle="modal"
								pt:data-target=".modal-criacao" pt:data-container="body"
								pt:data-placement="top"
								pt:data-content="Criar uma nova requisição"
								pt:data-trigger="hover" pt:data-backdrop="static"
								pt:data-keyboard="false">
								<i class="fa fa-copy fa-fw" aria-hidden="true" />
								<f:ajax />
							</h:commandLink>
							<h:commandLink
								styleClass="btn btn-warning popover-hover"
								action="#{indexBean.findRequisicaoListByDataAndSetorSolicitante}"
								style="margin-right:5px" pt:data-container="body"
								pt:data-placement="top"
								pt:data-content="Atualizar lista de requisições"
								pt:data-trigger="hover">
								<i class="fa fa-refresh fa-fw" aria-hidden="true" />
								<f:ajax render="@form" onevent="initDataTableRequisicao" />
							</h:commandLink>
							<h:commandLink
								styleClass="btn btn-primary popover-hover"
								style="margin-right:5px" pt:data-toggle="modal"
								pt:data-target=".modal-filtro-data" pt:data-container="body"
								pt:data-placement="top"
								pt:data-content="Filtrar por data da requisição"
								pt:data-trigger="hover" pt:data-backdrop="static"
								pt:data-keyboard="false">
								<i class="fa fa-calendar-o" aria-hidden="true"></i> 
								<f:ajax onevent="focusOutDtfJSF" />
							</h:commandLink>
						</div>
					</h:form>
				</div>
			</div>
		</div>

		<div class="modal modal-criacao modal-draggable fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document" style="max-width: 90% !important">
				<div class="modal-content">
					<h:form>
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">Requisição - Inclusão</h5>
							<h:commandLink styleClass="close" pt:data-dismiss="modal"
								pt:aria-label="Close" action="#{indexBean.resetModalRequisicao}">
								<span aria-hidden="true">&#215;</span>
								<f:ajax render="@form" onevent="initDataTables" />
							</h:commandLink>
						</div>
						<div class="modal-body">
							<h:messages />
							<div class="row">
								<div class="form-group col-sm-3">
									<label class="control-label">Setor</label><br />
									<h:selectOneMenu styleClass="form-control custom-select"
										value="#{indexBean.selectedSetor}"
										converter="simpleEntityConverter" required="true">
										<f:selectItem itemValue="" itemLabel="Selecione um setor" />
										<f:selectItems value="#{indexBean.setorList}" var="s"
											itemLabel="#{s.descricao}" itemValue="#{s}" />
										<f:ajax event="change" execute="@this" />
									</h:selectOneMenu>
								</div>
								<div class="form-group col-sm-4">
									<label class="control-label">Ordem</label><br />
									<h:selectOneMenu styleClass="form-control custom-select"
										value="#{indexBean.selectedNumeroOrdemProducao}">
										<f:selectItem itemValue=""
											itemLabel="Selecione uma ordem de produção" />
										<f:selectItems value="#{indexBean.numeroOrdemProducaoList}"
											var="o" itemLabel="#{o}" itemValue="#{o}" />
										<f:ajax event="change"
											listener="#{indexBean.createTempItemsRequisicaoList}"
											execute="@this" render="@form" onevent="initDataTables" />
									</h:selectOneMenu>
								</div>
								

								<div class="col-sm-12">
									<hr />
									<h:panelGroup id="panel-dataTable-temp-items-requisicao">

										<h:panelGroup rendered="#{empty indexBean.tempItemsRequisicaoList}">
											<table class="table table-sm dataTable-no-data" style="width=100%">
												<thead>
													<tr>
														<th scope="col">#</th>
														<th scope="col">REQUISITAR?</th>
														<th scope="col">PRODUTO</th>
														<th scope="col">UND.</th>
														<th scope="col">QUANT.</th>
														<th scope="col">MOTIVO</th>
														<th scope="col">OBS.</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</h:panelGroup>
										
										<div class="table-responsive">
											<h:dataTable
												rendered="#{not empty indexBean.tempItemsRequisicaoList}"
												styleClass="table table-sm nowrap table-condensed dataTable-temp-items-requisicao"
												value="#{indexBean.tempItemsRequisicaoList}" var="i">
												<h:column pt:style="text-align:center;padding-right:5px;padding-left:5px">
													<f:facet name="header">
													&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
													<i class="fa fa-toggle-off" aria-hidden="true"/>
													&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
													</f:facet>
													<h:selectBooleanCheckbox id="ativo" pt:data-size="small"
														pt:data-on-text="|" pt:data-off-text="O"
														styleClass="switch">
														<f:ajax event="change"
															listener="#{indexBean.toogleIsItemRequisicaoList(i)}"
															render="@this motivo qtd obs ativo" />
													</h:selectBooleanCheckbox>
												</h:column>
												<h:column>
													<f:facet name="header">PRODUTO</f:facet>
														<h:outputText
														styleClass="badge badge-danger"
														rendered="#{i.codProdutoPai.startsWith('B')}"
														value="#{i.codProdutoPai}" />
														#{i.codigo} - #{i.descricao}
												</h:column>
												<h:column>
													<f:facet name="header">UND.</f:facet>
														#{i.unidade}
													</h:column>
												<h:column>
													<f:facet name="header">QUANT.</f:facet>
													<h:inputText id="qtd" styleClass="form-control"
														value="#{i.quantidadeRequisitada}"
														required="#{i.isItemRequisicaoList}"
														readonly="#{not i.isItemRequisicaoList}" />
												</h:column>
												<h:column>
													<f:facet name="header">MOTIVO</f:facet>
													<h:selectOneMenu id="motivo"
														styleClass="form-control custom-select" value="#{i.motivo}"
														required="#{i.isItemRequisicaoList}"
														disabled="#{not i.isItemRequisicaoList}"
														converter="simpleEntityConverter" pt:style="width:200px">
														<f:selectItem itemValue="" itemLabel="SELECIONE O MOTIVO" />
														<f:selectItems value="#{indexBean.motivoList}" var="m"
															itemLabel="#{m.descricao}" itemValue="#{m}"  />
													</h:selectOneMenu>
												</h:column>
												<h:column>
													<f:facet name="header">OBS.</f:facet>
														<h:inputTextarea id="obs" styleClass="form-control" value="#{i.observacao}"
														readonly="#{not i.isItemRequisicaoList}" pt:style="width:250px" rows="2" />
												</h:column>
											</h:dataTable>
										</div>
									</h:panelGroup>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<h:commandLink styleClass="btn btn-primary"
								action="#{indexBean.saveRequisicao}">
								<i class="fa fa-floppy-o fa-fw" aria-hidden="true" /> Salvar
								<f:ajax execute="@form" render="@form" onevent="initDataTables" />
							</h:commandLink>
						</div>
					</h:form>
				</div>
			</div>
		</div>
		<!--/modal criação-  -->
		<div class="modal modal-atendimento modal-draggable custom fade"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document" style="max-width: 90% !important">
				<div class="modal-content">
					<h:form id="form-modal-atendimento">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">Requisição - Atendimento</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&#215;</span>
							</button>
						</div>
						<div class="modal-body">
							<h:messages />
							<div class="row">
								<div class="col-sm-1 form-group">
									<label class="control-label">Código</label><br /> <span
										class="text-primary">#{indexBean.selectedRequisicao.codigo}</span>
								</div>
								<div class="col-sm-1 form-group">
									<label class="control-label">Ordem</label><br /> <span
										class="text-primary">#{indexBean.selectedRequisicao.op}</span>
								</div>
								<div class="col-sm-2 form-group">
									<label class="control-label">Setor</label><br /> <span
										class="text-primary">#{indexBean.selectedRequisicao.setor.descricao}</span>
								</div>
								<div class="col-sm-2 form-group">
									<label class="control-label">Solicitante</label><br /> <span
										class="text-primary">#{indexBean.selectedRequisicao.solicitante}</span>
								</div>
								<div class="col-sm-4 form-group">
									<label class="control-label">Fornecedor</label><br /> <span
										class="text-primary">#{indexBean.selectedRequisicao.nomeFornecedor}</span>
								</div>
								<div class="col-sm-2 form-group">
									<label class="control-label">Data</label><br />
									<h:outputText styleClass="text-primary"
										value="#{indexBean.selectedRequisicao.data}">
										<f:convertDateTime pattern="EEE, d MMM yyyy HH:mm" />
									</h:outputText>
								</div>
								<div class="col-sm-12">
									<hr />
									<div class="table-responsive">
										<h:dataTable
											value="#{indexBean.selectedRequisicao.itemsRequisicaoList}"
											var="i"
											styleClass="table table-sm table-borderless dataTable table-condensed dataTable-items-requisicao">
											<h:column>
												<f:facet name="header">PRODUTO</f:facet>
													<h:outputText
													styleClass="badge badge-danger"
													rendered="#{i.codProdutoPai.startsWith('B')}"
													value="#{i.codProdutoPai}" />
													#{i.codigo} - #{i.descricao}
											</h:column>
											<h:column>
												<f:facet name="header">UND</f:facet>
												#{i.unidade}
											</h:column>
											<h:column>
												<f:facet name="header">QTD.REQ</f:facet>
												#{i.quantidadeRequisitada}
											</h:column>
											<h:column>
												<f:facet name="header">QTD.PAGA</f:facet>
												<h:inputText value="#{i.quantidadePaga}"
													styleClass="form-control input-sm" required="true"
													disabled="#{indexBean.habilitaStatusRequisicao()}" />
											</h:column>
											<h:column>
												<f:facet name="header">KG.PAGA</f:facet>
												<h:inputText value="#{i.kgPaga}"
													styleClass="form-control input-sm" required="true"
													disabled="#{indexBean.habilitaStatusRequisicao()}" />
											</h:column>
											<h:column>
												<f:facet name="header">MOTIVO</f:facet>
												#{i.motivo.descricao}
											</h:column>
											<h:column>
												<f:facet name="header">OBS</f:facet>
												#{i.observacao}
											</h:column>
										</h:dataTable>
									</div>
									<br />
									<div class="row">
										<div class="col-sm-4 form-group">
											<label class="control-label">Status</label><br />
											<h:selectOneMenu id="status-requisicao" disabled="#{indexBean.solicitante.setor == 'FACCAO'}"
												converter="simpleEntityConverter" styleClass="form-control"
												value="#{indexBean.selectedRequisicao.status}"
												required="true">
												<f:selectItem
													itemValue="#{indexBean.selectedRequisicao.status}"
													itemLabel="#{indexBean.selectedRequisicao.status.descricao}" />
												<f:selectItems value="#{indexBean.statusList}" var="s"
													itemValue="#{s}" itemLabel="#{s.descricao}" />
												<f:ajax render="@form"
													onevent="initDataTableItemsRequisicao" />
											</h:selectOneMenu>
										</div>
										<div class="col-sm-8 form-group">
											<label class="control-label">Observação</label><br />
											<h:inputTextarea rows="5" styleClass="form-control"
												value="#{indexBean.selectedRequisicao.observacao}" />
										</div>
										<div class="col-sm-12" id="dataTable-produtos" style="display: none;">

											<table class="table table-sm table-separation table-condensed" style="width: 100%">
												<tbody>
													<tr>
														<th class="text-center align-middle" rowspan="2"><h2 style="margin: 0">HOPE</h2></th>
														<th class="text-center" colspan="4">REQUISICAO DE MATERIAIS</th>
													</tr>
													<tr>
														<th>CODIGO<br />#{indexBean.selectedRequisicao.codigo}</th>
														<th>O.P.<br />#{indexBean.selectedRequisicao.op}</th>
														<th>REQUISITANTE<br />#{indexBean.selectedRequisicao.solicitante}</th>
														<th>DATA<br /> 
															<h:outputText
																value="#{indexBean.selectedRequisicao.data}">
																<f:convertDateTime pattern="EEE, d MMM yyyy HH:mm" />
															</h:outputText>
														</th>
													</tr>
													<tr>
														<th>PAGINA<br />1
														</th>
														<th colspan="3">FORNECEDOR<br />#{indexBean.selectedRequisicao.nomeFornecedor}
														</th>
														<th>USUARIO<br />#{indexBean.solicitante.login}
														</th>
													</tr>
												</tbody>
											</table>

											<h:dataTable
												value="#{indexBean.selectedRequisicao.itemsRequisicaoList}"
												var="i" styleClass="table table-sm table-separation table-condensed" style="width: 100%">
												<f:facet name="header">
													<h:outputText styleClass="text-center" value="LISTA DE MATERIAIS" />
												</f:facet>
												<h:column>
													<f:facet name="header">PRODUTO</f:facet>
														<h:outputText
														styleClass="badge badge-danger"
														rendered="#{i.codProdutoPai.startsWith('B')}"
														value="#{i.codProdutoPai}" />
														#{i.codigo} - #{i.descricao}
												</h:column>
												<h:column>
													<f:facet name="header">UND</f:facet>
													#{i.unidade}
												</h:column>
												<h:column>
													<f:facet name="header">QTD.REQ</f:facet>
													#{i.quantidadeRequisitada}
												</h:column>
												<h:column>
													<f:facet name="header">QTD.PAGA</f:facet>
													#{i.quantidadePaga}
												</h:column>
												<h:column>
													<f:facet name="header">KG.PAGA</f:facet>
													#{i.kgPaga}
												</h:column>
												<h:column>
													<f:facet name="header">MOTIVO</f:facet>
													#{i.motivo.descricao}
												</h:column>
												<h:column>
													<f:facet name="header">OBS</f:facet>
													#{i.observacao}
												</h:column>
												<h:column>
													<f:facet name="header">ENDEREÇO</f:facet>
													#{indexBean.findEnderecoByCodigoAndQuantidade(i.codigo, i.quantidadeRequisitada)}
												</h:column>
											</h:dataTable>

											<hr />

											<table class="table table-separation table-condensed">
												<tbody>
													<tr>
														<th class="text-center align-middle" rowspan="2"><h2 style="margin: 0">HOPE</h2></th>
														<th class="text-center" colspan="4">REQUISICAO DE MATERIAS</th>
													</tr>
													<tr>
														<th>CODIGO<br />#{indexBean.selectedRequisicao.codigo}
														</th>
														<th>O.P.<br />#{indexBean.selectedRequisicao.op}
														</th>
														<th>REQUISITANTE<br />#{indexBean.selectedRequisicao.solicitante}
														</th>
														<th>DATA<br /> <h:outputText
																value="#{indexBean.selectedRequisicao.data}">
																<f:convertDateTime pattern="EEE, d MMM yyyy HH:mm" />
															</h:outputText>
														</th>
													</tr>
													<tr>
														<th>PAGINA<br />2
														</th>
														<th colspan="3">FORNECEDOR<br />#{indexBean.selectedRequisicao.nomeFornecedor}
														</th>
														<th>USUARIO<br />#{indexBean.solicitante.login}
														</th>
													</tr>
												</tbody>
											</table>

											<h:dataTable
												value="#{indexBean.selectedRequisicao.itemsRequisicaoList}"
												var="i" styleClass="table table-sm table-separation table-condensed">
												<f:facet name="header">
													<h:outputText styleClass="text-center"
														value="LISTA DE MATERIAIS" />
												</f:facet>
												<h:column>
													<f:facet name="header">PRODUTO</f:facet>
														<h:outputText
														styleClass="badge badge-danger"
														rendered="#{i.codProdutoPai.startsWith('B')}"
														value="#{i.codProdutoPai}" />
														#{i.codigo} - #{i.descricao}
												</h:column>
												<h:column>
													<f:facet name="header">UND</f:facet>
													#{i.unidade}
												</h:column>
												<h:column>
													<f:facet name="header">QTD.REQ</f:facet>
													#{i.quantidadeRequisitada}
												</h:column>
												<h:column>
													<f:facet name="header">QTD.PAGA</f:facet>
													#{i.quantidadePaga}
												</h:column>
												<h:column>
													<f:facet name="header">KG.PAGA</f:facet>
													#{i.kgPaga}
												</h:column>
												<h:column>
													<f:facet name="header">MOTIVO</f:facet>
													#{i.motivo.descricao}
												</h:column>
												<h:column>
													<f:facet name="header">OBS</f:facet>
													#{i.observacao}
												</h:column>
												<h:column>
													<f:facet name="header">ENDEREÇO</f:facet>
													#{indexBean.findEnderecoByCodigoAndQuantidade(i.codigo, i.quantidadeRequisitada)}
												</h:column>
											</h:dataTable>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<h:commandLink styleClass="btn btn-primary"
								action="#{indexBean.updateRequisicao}">
								<i class="fa fa-floppy-o fa-fw" aria-hidden="true" /> Salvar
								<f:ajax execute="@form" render="@form"
									onevent="function(data) { updateRequisicao(data, '#{indexBean.selectedRequisicao.status.descricao}') }" />
							</h:commandLink>
						</div>
					</h:form>
				</div>
			</div>
		</div>
		<!--/modal atendimento  -->
		<div class="modal fade modal-draggable modal-filtro-data" tabindex="-1" role="dialog"
			aria-labelledby="modalFiltro" aria-hidden="true">
			<div class="modal-dialog modal-sm" role="document">
				<h:form>
					<div class="modal-content">

						<div class="modal-header">
							<h5 class="modal-title">Período</h5>
						</div>
						<div class="modal-body">
							
							<div class="row mb-1">
								<div class="col-md-12">
									<label>Inícial</label>
									<h:inputText pt:type="date" required="true" requiredMessage="Data inicial não preenchida"
										styleClass="form-control dti" value="#{indexBean.data}"/>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<label>Final</label>
									<h:inputText pt:type="date" required="true" requiredMessage="Data final não preenchida"
										styleClass="form-control dtf" value="#{indexBean.dataFinalizada}" />
								</div>
							</div>
							<div class="mt-3">
								<h:messages styleClass="msg" />
							</div>
						</div>
						<div class="modal-footer">
							<h:commandButton action="#{indexBean.findRequisicaoListByDataAndSetorSolicitante}" pt:data-dismiss="modal"
								styleClass="btn btn-block btn-primary btn-modal-filtro" pt:disabled="disabled" value="Aplicar">
								<f:ajax execute="@form" render="form-lista-requisicao @form" onevent="initDataTableRequisicao" />
							</h:commandButton>
						</div>
					</div>
				</h:form>
			</div>
		</div>
		<!--/modal filtro-data -->

	</ui:define>

</ui:composition>
