<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:f="http://xmlns.jcp.org/jsf/core"
xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<title>Sistema de Requisição de Material</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}" />
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<h:outputScript target="body" name="js/jquery-3.3.1.min.js" />
		<h:outputScript target="body" name="js/bootstrap.bundle.min.js" />
		<h:outputScript target="body" name="js/loadingoverlay.min.js" />
		<h:outputScript target="body" name="js/login.js" />

		<h:outputStylesheet name="css/bootstrap.min.css" />
		<h:outputStylesheet name="css/font-awesome.css" />
		<h:outputStylesheet name="css/login.css" />
	</f:facet>
</h:head>
<h:body>
	<div class="container">
		<form class="form-signin" role="form" method="post">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<!-- <i class="fa fa-user-circle-o fa-7x profile-img-card" aria-hidden="true"></i> -->
			<h:graphicImage library="images" name="avatar_2x.png" styleClass="profile-img-card" />
			<br /> 
			<div class = "form-group">
				<input type="text" id="j_username" name="j_username" class="form-control" required="required" placeholder="login" /> 
			
				<input type="password" id="j_password" name="j_password" class="form-control" required="required" placeholder="senha" autocomplete="new-password" />
				
				<!--<h:outputText value="Login ou senha incorreto!" rendered="#{param.error}" style="color:#a94442;font-weight:bold" class="fail-login" />-->
				<h:panelGroup rendered="#{param.error}">
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
					  Login ou senha incorreto!
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&#215;</span>
					  </button>
					</div>
				</h:panelGroup>
			</div>
			<div class="checkbox">
				<input type="checkbox" name="_spring_security_remember_me" /> Lembrar me
			</div>
			<button class="btn btn-primary btn-block btn-lg btn-login" type="submit">Login</button>
		</form>
	</div><!-- /container -->
	<div class="footer text-center">© 2019, HOPE Lingerie</div>
</h:body>
</html>