<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/templates/default/main.xhtml">
	<ui:define name="content">
		<div class="row">
			<div class="col-md">
				<div class="card mt-4" style="min-height: 65vh;">
					<div class="card-header ">
						<span class="fa fa-files-o" aria-hidden="true"></span>
					</div>
					<div class="card-body bg-light">
						<h:form>
							<div class="form-row mt-3">

								<div class="mt-3">
									<h:messages styleClass="msg" errorStyle="color:#a94442"
										infoStyle="color:#428bca;" />
								</div>

								<div class="col-md-4">
									<label>Data Inícial</label>
									<h:inputText pt:type="date" required="true"
										requiredMessage="Data inicial não preenchida"
										styleClass="form-control dti" value="#{relatoriosBean.data}" />
								</div>

								<div class="col-md-4">
									<label>Data Final</label>
									<h:inputText pt:type="date" required="true"
										requiredMessage="Data final não preenchida"
										styleClass="form-control dtf"
										value="#{relatoriosBean.dataFinalizada}" />

								</div>
								<div class="col-md-2" style="margin-top: 33px;">
									<h:commandLink styleClass="btn btn-block btn-primary"
										action="#{relatoriosBean.findRequisicaoListByDataAndSetorSolicitante}">
										<i class="fa fa-filter fa-fw" aria-hidden="true" /> Filtrar
										<f:ajax execute="@form" render="form-requisicoes form-download"
											onevent="initDataTableViewRequisicaoFromJSF" />
									</h:commandLink>
								</div>

							</div>
						</h:form>
						<hr class="mb-4" />
						<h:form id="form-requisicoes">
							<div class="table-responsive">
								<h:dataTable id="form-requisicoes"
									value="#{relatoriosBean.viewRequisicoesList}" var="r"
									styleClass="table dataTable table-hover table-sm dataTable-view-requisicao"
									width="100%">
									<h:column>
										<f:facet name="header">CÓD REQUISIÇÃO</f:facet>
                                        #{r.codigoRequisicao}
                                    </h:column>
									<h:column>
										<f:facet name="header">CÓD FORNECEDOR</f:facet>
                                        #{r.codigoFornecedor}
                                    </h:column>
									<h:column>
										<f:facet name="header">NOME</f:facet>
                                        #{r.nomeFornecedor}
                                    </h:column>
									<h:column>
										<f:facet name="header">SETOR</f:facet>
                                        #{r.nomeSetor}
                                    </h:column>
									<h:column>
										<f:facet name="header">O.P</f:facet>
                                        #{r.op}
                                    </h:column>
									<h:column>
										<f:facet name="header">CÓDIGO</f:facet>
                                        #{r.codigoProduto}
                                    </h:column>
									<h:column>
										<f:facet name="header">DESCRIÇÃO</f:facet>
                                        #{r.descricaoProduto}
                                    </h:column>
                                    <h:column>
										<f:facet name="header">QUANTIDADE</f:facet>
                                        #{r.quantidade}
                                    </h:column>
									<h:column>
										<f:facet name="header">SOLICITANTE</f:facet>
                                        #{r.solicitante}
                                    </h:column>
								</h:dataTable>
							</div>
						</h:form>
					</div>
					<div class="card-footer">
						<h:form id="form-download">
							<h:commandLink styleClass="btn btn-success popover-hover"
								pt:data-placement="top"
								pt:data-content="Download em formato MS Excel"
								pt:data-trigger="hover"
								style="margin-right:10px"
								action="#{relatoriosBean.downloadPlanilha}"
								rendered="#{not empty relatoriosBean.viewRequisicoesList}">
								<i class="fa fa-file-excel-o fa-fw" />
							</h:commandLink>
							<h:commandLink styleClass="btn btn-success disabled popover-hover"
								pt:data-placement="top"
								pt:data-content="Download em formato MS Excel"
								pt:data-trigger="hover"
								style="margin-right:10px"
								rendered="#{empty relatoriosBean.viewRequisicoesList}">
								<i class="fa fa-file-excel-o fa-fw" />
							</h:commandLink>
						</h:form>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>
